ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 0.5rem;
}

ul.cloud p[data-weight="1"] { --size: 1; }
ul.cloud p[data-weight="2"] { --size: 2; }
ul.cloud p[data-weight="3"] { --size: 3; }
ul.cloud p[data-weight="4"] { --size: 4; }
ul.cloud p[data-weight="5"] { --size: 5; }
ul.cloud p[data-weight="6"] { --size: 6; }
ul.cloud p[data-weight="7"] { --size: 7; }
ul.cloud p[data-weight="8"] { --size: 8; }
ul.cloud p[data-weight="9"] { --size: 9; }

ul.cloud p {
    display: block;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
    --size: 4;
    font-size: calc(var(--size) * 0.55rem + 0.5rem);
}

ul.cloud[data-show-value] p::after {
    content: " (" attr(data-weight) ")";
    font-size: 0.75rem;
}

